In [6]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [7]:
n = 3
df = pd.read_csv('sample.csv')
df.dropna(inplace=True)
df['DATE'] = pd.to_datetime(df['DATE'])
th = sorted(set(df['DATE']))[-n]
df_new = df[df['DATE']>=th]

d = df_new.groupby(['SYMBOL']).agg(
    {
'activity' : lambda x: set(x).pop() if len(set(x))==3 else 0,  
    }
)
d = d.reset_index(level=0)
d = d[d['activity']!=0]

In [8]:
d.reset_index(drop=True,inplace=True)

In [5]:
d

        SYMBOL        activity
0          ABB    Long Buildup
1   AUROPHARMA    Long Buildup
2   BHARATFORG    Long Buildup
3     BOSCHLTD  Long Unwinding
4      COFORGE  Long Unwinding
5          DLF    Long Buildup
6   HINDCOPPER  Long Unwinding
7          IOC    Long Buildup
8          MRF  Long Unwinding
9        SUNTV  Long Unwinding
10   WHIRLPOOL  Long Unwinding

In [9]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')


# In[2]:


n = 3
df = pd.read_csv('sample.csv')
df.dropna(inplace=True)
df['DATE'] = pd.to_datetime(df['DATE'])
th = sorted(set(df['DATE']))[-n]
df_new = df[df['DATE']>=th]

d = df_new.groupby(['SYMBOL']).agg(
    {
'activity' : lambda x: set(x),  
    }
)

d = d.reset_index(level=0)
d['flag'] = d['activity'].apply(lambda x: 1 if len(x)==1 else 0)
d = d[d['flag']==1]
d['activity'] = d['activity'].apply(lambda x: x.pop())
d.drop('flag',axis=1,inplace=True)
d.reset_index(drop=True,inplace=True)


# In[3]:


d


# In[ ]:

        SYMBOL        activity
0        ALKEM  Short Covering
1   AMARAJABAT  Short Covering
2    AMBUJACEM    Long Buildup
3       APLLTD  Short Covering
4   APOLLOTYRE    Long Buildup
..         ...             ...
77   TATAPOWER  Short Covering
78       TITAN  Short Covering
79    TVSMOTOR  Short Covering
80         UBL    Long Buildup
81      VOLTAS    Long Buildup

[82 rows x 2 columns]

In [12]:
d['SYMBOL'].unique().shape

(82,)