In [1]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime, date

## Group Assignment
### Team Number: XX
### Team Member Names:
### Team Strategy Chosen: __________(RISKY OR SAFE)

In [2]:
# The amount (in USD) that we have to spend
capital = 500000

# The amount of stocks we intend to purchase
number_of_stocks = 25

# By the assignment requirements, the maximum and minimum weightings of each stock in our portfolio
min_weight = 1 / (2 * number_of_stocks)
max_weight = 0.25

# Final output in Jupyter Notebook
Portfolio_Final = pd.DataFrame()

# Final output in .csv file
Stocks_Final = pd.DataFrame()

# By the assignment requirement, the date at which we are making all purchases
#   Note this is one day after the buy date because yfinance does not
#   return information from the end date
buy_date = '2022-11-26'

# By the assignment requirements, some restrictions on permissible stocks
currency = "USD"
min_days = 20
min_avg_volume = 200000

In [3]:
ticker_lst = pd.read_csv("Tickers.csv", header=None)[0].tolist()

In [4]:
acrv = yf.Ticker("^GSPC").history(start="2022-01-01", end="2022-11-30", interva="1mo").dropna().reset_index()
acrv

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-12-31,4775.209961,4786.830078,4765.750000,4766.180176,2677820000,0,0
1,2022-01-03,4778.140137,4796.640137,4758.169922,4796.560059,3831020000,0,0
2,2022-01-04,4804.509766,4818.620117,4774.270020,4793.540039,4683170000,0,0
3,2022-01-05,4787.990234,4797.700195,4699.439941,4700.580078,4887960000,0,0
4,2022-01-06,4693.390137,4725.009766,4671.259766,4696.049805,4295280000,0,0
...,...,...,...,...,...,...,...,...
225,2022-11-22,3965.510010,4005.879883,3956.879883,4003.580078,3887990000,0,0
226,2022-11-23,4000.300049,4033.780029,3998.659912,4027.260010,3279720000,0,0
227,2022-11-25,4023.340088,4034.020020,4020.760010,4026.120117,1706460000,0,0
228,2022-11-28,4005.360107,4012.270020,3955.770020,3963.939941,3615430000,0,0
229,2022-11-29,3964.189941,3976.770020,3937.649902,3957.629883,3546040000,0,0

In [5]:
acrv

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-12-31,4775.209961,4786.830078,4765.750000,4766.180176,2677820000,0,0
1,2022-01-03,4778.140137,4796.640137,4758.169922,4796.560059,3831020000,0,0
2,2022-01-04,4804.509766,4818.620117,4774.270020,4793.540039,4683170000,0,0
3,2022-01-05,4787.990234,4797.700195,4699.439941,4700.580078,4887960000,0,0
4,2022-01-06,4693.390137,4725.009766,4671.259766,4696.049805,4295280000,0,0
...,...,...,...,...,...,...,...,...
225,2022-11-22,3965.510010,4005.879883,3956.879883,4003.580078,3887990000,0,0
226,2022-11-23,4000.300049,4033.780029,3998.659912,4027.260010,3279720000,0,0
227,2022-11-25,4023.340088,4034.020020,4020.760010,4026.120117,1706460000,0,0
228,2022-11-28,4005.360107,4012.270020,3955.770020,3963.939941,3615430000,0,0
229,2022-11-29,3964.189941,3976.770020,3937.649902,3957.629883,3546040000,0,0

In [6]:
acrv['Date'].dt.month.value_counts()

3     23
8     23
5     21
6     21
9     21
10    21
1     20
4     20
7     20
11    20
2     19
12     1
Name: Date, dtype: int64

In [7]:
acrv = yf.Ticker("ACRV").history(start="2022-01-01", end="2022-11-30").dropna().reset_index()
if str(min(acrv.Date.tolist())) == "2022-01-01":
    print("true")
else:
    print("false")

false

In [8]:
acrv

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2022-11-15,13.350000,17.090000,12.708,16.639999,528000,0,0
1,2022-11-16,15.900000,20.702999,15.060,16.750000,222800,0,0
2,2022-11-17,16.530001,19.500000,14.880,15.720000,312200,0,0
3,2022-11-18,15.720000,18.950001,15.590,15.780000,215700,0,0
4,2022-11-21,15.770000,16.849001,12.500,12.510000,95500,0,0
5,2022-11-22,13.350000,14.240000,12.500,12.530000,38600,0,0
6,2022-11-23,12.500000,13.500000,10.901,12.500000,60000,0,0
7,2022-11-25,12.510000,14.900000,12.500,12.500000,114200,0,0
8,2022-11-28,12.250000,12.700000,12.250,12.500000,19500,0,0
9,2022-11-29,12.700000,13.290000,12.500,12.500000,39300,0,0

In [9]:
a= str(yf.Ticker("ACRV").history(start="2022-01-01", end="2022-11-30").dropna().reset_index().Date.tolist())
a

"[Timestamp('2022-11-15 00:00:00'), Timestamp('2022-11-16 00:00:00'), Timestamp('2022-11-17 00:00:00'), Timestamp('2022-11-18 00:00:00'), Timestamp('2022-11-21 00:00:00'), Timestamp('2022-11-22 00:00:00'), Timestamp('2022-11-23 00:00:00'), Timestamp('2022-11-25 00:00:00'), Timestamp('2022-11-28 00:00:00'), Timestamp('2022-11-29 00:00:00')]"

In [22]:
filter_start_date = "2022-01-01"
filter_end_date = "2022-11-30"
from tqdm import tqdm
def filter_stocks(ticker_list):
    good_stocks = []
    stock_data = []
    
    # Remove all invalid tickers or tickers not listed on a US Market
    # Save the permissible tickers to good_stocks
    
    for ticker in tqdm(ticker_list):
        try:
            if yf.Ticker(ticker).info["financialCurrency"] == currency:
                good_stocks.append(ticker)
            else:
                print(f"{ticker} is not American")
        except:
            print(f"{ticker} is not a valid ticker (might be delisted)")
    
    stock_dict = {}
    # Generate stock history corresponding to each stock
    final_good_stocks = good_stocks.copy()
    
    for stock in good_stocks:
        
        val = yf.Ticker(stock).history(start=filter_start_date, end=filter_end_date, interval="1mo").dropna().reset_index()
        stock_data.append(val)
        stock_dict[stock] = val
        
        
    # Calculate months with less than 20 trading days on a US Exchange
    short_months = []
    market_index = yf.Ticker('^GSPC')
    for month in range(1,12):
        length = len(market_index.history(start = str(date(2022, month, 1)) , end = str(date(2022, month+1, 1))))
        if length < min_days:
            short_months.append(month)

    print(short_months)
    
    
    for stock in stock_dict:
        try:
            if stock in final_good_stocks:
                if len(stock_dict[stock])==0:
                    final_good_stocks.remove(stock)
                    
                
            t = stock_dict[stock].reset_index()
            avg = t[~t['Date'].dt.month.isin(short_months)]['Volume'].mean()
            if stock in final_good_stocks and avg < min_avg_volume:
                final_good_stocks.remove(stock)
        except:
            print(stock,'failed')
            if stock in final_good_stocks:
                final_good_stocks.remove(stock)
    
    return final_good_stocks

In [23]:
filtered_tickers = filter_stocks(ticker_lst[:5])

 40%|████████████████████████████████▍                                                | 2/5 [00:11<00:17,  5.70s/it]

asdfa is not a valid ticker (might be delisted)

100%|█████████████████████████████████████████████████████████████████████████████████| 5/5 [00:25<00:00,  5.11s/it]

- ACRV: No data found for this date range, symbol may be delisted
[]
ACRV failed

In [24]:
filtered_tickers

['AAPL', 'ABBV', 'LOW']

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.