In [59]:
### To Do's for today
### Merge those three dataframes in one df
### error message and multilayer index
### how to work with sql-Databases
import warnings
warnings.filterwarnings('ignore')

In [37]:
import pandas as pd
import numpy as np

# Daten einlesen und vorbereiten
dispo = pd.read_csv('work/dispo.csv',
                        encoding='cp1252',
                        sep=';',
                        dayfirst=True                        
                        )

In [38]:
dispo_temp = dispo[1:]

In [39]:
dispo_temp['WG'] = dispo_temp['WG'].astype('int64')

C:\Users\avitr\AppData\Local\Temp\ipykernel_12980\1499341716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dispo_temp['WG'] = dispo_temp['WG'].astype('int64')

In [42]:
umsatz = pd.read_csv('work/umsatz.csv',
                        encoding='cp1252',
                        sep=';',
                        dayfirst=True                        
                        )

In [43]:
umsatz

,WAG,UMEN,UVKI,RMEN,RVKI,SMEN,SVKI,SPAN_I,RG,VERLUST,Unnamed: 10
0,0,35958,450'671.20,17009,208'545.50,289,3'930.80,66.6%,268'037.58,18'489.31,NaN
1,1,16979,2'048'122.75,9979,1'051'346.90,500,61'500.00,55.4%,987'320.41,416'925.85,NaN
2,2,56591,7'050'521.21,37947,4'350'450.26,2861,387'765.09,56.7%,3'491'159.12,1'324'424.45,NaN
3,3,3302,140'486.00,1917,74'140.25,113,4'930.65,54.7%,66'734.64,24'642.52,NaN
4,4,59612,4'064'077.00,43549,2'887'021.35,3759,271'731.50,56.4%,2'002'960.55,610'813.60,NaN
5,5,5307,516'818.30,2376,216'064.00,248,24'437.65,58.4%,264'753.43,31'071.70,NaN
6,6,8702,348'864.75,5718,217'621.65,311,14'626.20,60.8%,187'188.35,32'145.25,NaN
7,9,35718,1'237'578.65,22263,733'145.75,542,27'144.65,57.0%,616'901.25,135'646.61,NaN

In [46]:
dispo_temp

,WG,WG_NAME,DR_EMEN,DR_M_ANT,DR_EKB,DR_EKN,DR_ØEKN,DR_EK_ANT,DR_VKS,DR_ØVKS,DR_VK_ANT,DR_KALKS,DR_SPNS,Unnamed: 13
1,0,Warengruppe 0,250,0.4%,11'290.00,11'290.00,45.16,0.5%,22'250.00,89.00,0.3%,97.1%,49.3%,NaN
2,1,Herren-Schuhe,8211,13.7%,490'667.45,467'506.17,56.94,19.1%,1'238'163.00,150.79,18.9%,164.8%,62.2%,NaN
3,2,Damen-Schuhe,23645,39.3%,1'326'405.20,1'227'022.01,51.89,50.3%,3'370'235.80,142.53,51.5%,174.7%,63.6%,NaN
4,3,Sport&Freizeit,941,1.6%,24'568.90,23'300.52,24.76,1.0%,62'769.00,66.70,1.0%,169.4%,62.9%,NaN
5,4,Kinder + Sport 16 - 42,15044,25.0%,490'578.55,448'123.04,29.79,18.4%,1'156'083.00,76.85,17.7%,158.0%,61.2%,NaN
6,5,Heim- und Freizeitschuhe H & D,521,0.9%,29'112.30,27'796.60,53.35,1.1%,70'548.00,135.41,1.1%,153.8%,60.6%,NaN
7,6,Heim- und Freizeitschuhe Kinder,2000,3.3%,43'564.75,38'822.51,19.41,1.6%,102'353.00,51.18,1.6%,163.6%,62.1%,NaN
8,9,Taschen & Accessoires & Textil,9503,15.8%,204'699.72,197'830.02,20.82,8.1%,516'339.60,54.33,7.9%,161.0%,61.7%,NaN

In [51]:
dispo_umsatz = dispo_temp.merge(umsatz, left_on='WG', right_on='WAG')

In [9]:
abfrage = pd.read_csv('work/abfrage.csv',
                        encoding='cp1252',
                        sep=';',
                        dayfirst=True                        
                        )

In [55]:
abfrage = abfrage[:-1]

In [56]:
abfrage

,WG,E,EEKW,EKALKS,UMEN,VKI,KALKI,VERL,B,BEKW,BKALKS,BABV,D,DEKW,DKALKS,FEED,Unnamed: 16
0,0,121703,511'991.23,229.2,4426,56'369.00,209.8,1.4,36077,154'486.34,237.2,70.4,1681,16'469.73,140.1,NaN,NaN
1,1,62340,3'768'156.91,169.1,1575,206'004.85,114.5,20.7,26714,1'681'626.88,167.4,57.1,17555,1'007'718.79,162.3,NaN,NaN
2,2,191306,12'075'369.62,169.8,4966,704'686.20,118.2,20.3,77778,5'166'945.28,166.5,59.3,61513,3'260'647.48,174.7,NaN,NaN
3,3,5910,130'361.57,160.5,37,2'510.75,123.9,16.0,1734,44'574.30,161.2,70.7,5717,114'713.43,157.7,NaN,NaN
4,4,217567,7'478'735.75,166.5,4442,323'873.95,124.5,16.3,92233,3'284'964.74,165.8,57.6,68548,2'238'504.56,153.9,NaN,NaN
5,5,22599,852'577.21,164.1,715,62'827.10,142.8,5.8,9358,362'385.11,166.9,58.6,6309,260'927.19,159.3,NaN,NaN
6,6,41310,650'258.21,179.1,1329,49'814.25,155.6,7.8,16087,271'707.32,178.3,61.1,6114,105'928.85,171.6,NaN,NaN
7,9,152987,2'331'680.79,158.4,3827,137'288.58,122.3,13.1,67991,1'063'322.61,157.1,55.6,28987,516'427.39,158.8,NaN,NaN

In [58]:
abfrage['WG'] = abfrage['WG'].astype('int64')

C:\Users\avitr\AppData\Local\Temp\ipykernel_12980\1346294801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  abfrage['WG'] = abfrage['WG'].astype('int64')

In [62]:
df_merged = dispo_umsatz.merge(abfrage, left_on='WG', right_on='WG')

In [63]:
df_merged

,WG,WG_NAME,DR_EMEN,DR_M_ANT,DR_EKB,DR_EKN,DR_ØEKN,DR_EK_ANT,DR_VKS,DR_ØVKS,...,VERL,B,BEKW,BKALKS,BABV,D,DEKW,DKALKS,FEED,Unnamed: 16
0,0,Warengruppe 0,250,0.4%,11'290.00,11'290.00,45.16,0.5%,22'250.00,89.00,...,1.4,36077,154'486.34,237.2,70.4,1681,16'469.73,140.1,NaN,NaN
1,1,Herren-Schuhe,8211,13.7%,490'667.45,467'506.17,56.94,19.1%,1'238'163.00,150.79,...,20.7,26714,1'681'626.88,167.4,57.1,17555,1'007'718.79,162.3,NaN,NaN
2,2,Damen-Schuhe,23645,39.3%,1'326'405.20,1'227'022.01,51.89,50.3%,3'370'235.80,142.53,...,20.3,77778,5'166'945.28,166.5,59.3,61513,3'260'647.48,174.7,NaN,NaN
3,3,Sport&Freizeit,941,1.6%,24'568.90,23'300.52,24.76,1.0%,62'769.00,66.70,...,16.0,1734,44'574.30,161.2,70.7,5717,114'713.43,157.7,NaN,NaN
4,4,Kinder + Sport 16 - 42,15044,25.0%,490'578.55,448'123.04,29.79,18.4%,1'156'083.00,76.85,...,16.3,92233,3'284'964.74,165.8,57.6,68548,2'238'504.56,153.9,NaN,NaN
5,5,Heim- und Freizeitschuhe H & D,521,0.9%,29'112.30,27'796.60,53.35,1.1%,70'548.00,135.41,...,5.8,9358,362'385.11,166.9,58.6,6309,260'927.19,159.3,NaN,NaN
6,6,Heim- und Freizeitschuhe Kinder,2000,3.3%,43'564.75,38'822.51,19.41,1.6%,102'353.00,51.18,...,7.8,16087,271'707.32,178.3,61.1,6114,105'928.85,171.6,NaN,NaN
7,9,Taschen & Accessoires & Textil,9503,15.8%,204'699.72,197'830.02,20.82,8.1%,516'339.60,54.33,...,13.1,67991,1'063'322.61,157.1,55.6,28987,516'427.39,158.8,NaN,NaN

In [11]:
dispo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   WG           9 non-null      object
 1   WG_NAME      9 non-null      object
 2   DR_EMEN      9 non-null      int64
 3   DR_M_ANT     9 non-null      object
 4   DR_EKB       9 non-null      object
 5   DR_EKN       9 non-null      object
 6   DR_ØEKN      9 non-null      float64
 7   DR_EK_ANT    9 non-null      object
 8   DR_VKS       9 non-null      object
 9   DR_ØVKS      9 non-null      float64
 10  DR_VK_ANT    9 non-null      object
 11  DR_KALKS     9 non-null      object
 12  DR_SPNS      9 non-null      object
 13  Unnamed: 13  0 non-null      float64
dtypes: float64(3), int64(1), object(10)
memory usage: 1.1+ KB

In [12]:
umsatz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   WAG          8 non-null      int64
 1   UMEN         8 non-null      int64
 2   UVKI         8 non-null      object
 3   RMEN         8 non-null      int64
 4   RVKI         8 non-null      object
 5   SMEN         8 non-null      int64
 6   SVKI         8 non-null      object
 7   SPAN_I       8 non-null      object
 8   RG           8 non-null      object
 9   VERLUST      8 non-null      object
 10  Unnamed: 10  0 non-null      float64
dtypes: float64(1), int64(4), object(6)
memory usage: 832.0+ bytes

In [13]:
abfrage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   WG           9 non-null      object
 1   E            9 non-null      int64
 2   EEKW         9 non-null      object
 3   EKALKS       9 non-null      float64
 4   UMEN         9 non-null      int64
 5   VKI          9 non-null      object
 6   KALKI        9 non-null      float64
 7   VERL         9 non-null      float64
 8   B            9 non-null      int64
 9   BEKW         9 non-null      object
 10  BKALKS       9 non-null      float64
 11  BABV         9 non-null      float64
 12  D            9 non-null      int64
 13  DEKW         9 non-null      object
 14  DKALKS       9 non-null      float64
 15  FEED         0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
dtypes: float64(8), int64(4), object(5)
memory usage: 1.3+ KB

In [78]:
# Zahlen auf 2 Stellen runden

df = pd.read_excel(r'work\ubersicht.xlsx',
                    sheet_name='Benutzer',
                    usecols=[1, 2 ,3, 5],
                    header=None,
                    names=['fil','name', 'persnr', 'stunden']
                   )

gruppe = 1000
monat = 10
jahr = 2022


nicht_filialeliste = ['88', '95', '98', '99']

# Zeile mit der ursprünlichen Beschriftung löschensamessystem_lohn.py
df = df.drop([0])

# Löscht löscht leere Zeilen
df = df[df['persnr'].notna()]
df = df[df['fil'].notna()]

# Kostenstelle aus Filialnummer ableiten
df['fil'] = df['fil'].astype(str)
df['kst'] = 'k' + df['fil'].str[-2:]

df['monat'] = monat
df['jahr'] = jahr


df['stunden'] = df['stunden'].astype(float).round(2)

# nur ausgewählte Filialen, alle ausser nicht_filialliste
df = df[~df['fil'].isin(nicht_filialeliste)]

empl = df.pivot_table(index=['persnr', 'name'],
               columns=['kst'],
               values=['stunden'],
               fill_value=0,
               aggfunc='sum',
               margins_name = "anw",
               margins=True)

empl.reset_index(inplace=True, level=['persnr'])
# empl.reset_index(inplace=True)
# print(empl)

df_neu = empl
df_neu['gruppe'] = gruppe
df_neu['monat'] = monat
df_neu['jahr'] = jahr
# print(df_neu)

In [69]:
df

     fil                        name persnr  stunden  kst  monat  jahr
54   101          Daniel Zuberbühler    537   201.37  k01     10  2022
55   101              Jasmin Tschanz    444   195.08  k01     10  2022
56   101       Elisabeth Müller-hotz    929   177.30  k01     10  2022
57   101              Jana Gattinger   2868   195.92  k01     10  2022
58   101         Albina Taqi-Berisha    559   124.07  k01     10  2022
..   ...                         ...    ...      ...  ...    ...   ...
310  411  Orianna Samira Perez Solis   2937   158.23  k11     10  2022
312  793              Gizem Ovacikli   2339   196.15  k93     10  2022
313  793             Susanne De Roni   2026   198.10  k93     10  2022
314  793               Iris Bänziger   2735    59.12  k93     10  2022
315  793             Jessica Bertoli   2953   194.12  k93     10  2022

[237 rows x 7 columns]

In [68]:
empl

                              persnr  stunden                           \
kst                                       k01      k02     k03     k05
name
Susanne Hofmann                  164     0.00     0.00    0.00    0.00
Cornelia Hanselmann              222     0.00     0.00    0.00    0.00
Jacqueline Bösiger               239     0.00     0.00    0.00    0.00
Cornelia Bühler                  280     0.00     0.00    0.00    0.00
Alberta Nikolla-Vorfi            283     0.00     0.00    0.00    0.00
...                              ...      ...      ...     ...     ...
Anna-Maria Altenburger-Marcon   3042     0.00     0.00    0.00    0.00
Yinett Guzman                   3044     0.00     0.00    0.00    0.00
Anita Pivirotto-Brunner         3047     0.00     0.00    0.00    0.00
Salome Dolder                   3048     0.00     0.00    0.00    0.00
                                 anw  1612.48  2278.75  299.54  257.17

                                                                        ...  \
kst                                k07      k08     k10    k11     k14  ...
name                                                                    ...
Susanne Hofmann                   0.00     0.00    0.00    0.0    0.00  ...
Cornelia Hanselmann               0.00     0.00    0.00    0.0    0.00  ...
Jacqueline Bösiger                0.00     0.00    0.00    0.0    0.00  ...
Cornelia Bühler                   0.00     0.00    0.00    0.0    0.00  ...
Alberta Nikolla-Vorfi             0.00     0.00    0.00    0.0    0.00  ...
...                                ...      ...     ...    ...     ...  ...
Anna-Maria Altenburger-Marcon     0.00     0.00    0.00    0.0    0.00  ...
Yinett Guzman                     0.00     0.00    0.00    0.0    0.00  ...
Anita Pivirotto-Brunner           0.00     0.00    0.00    0.0    0.00  ...
Salome Dolder                     0.00     0.00    0.00    0.0    0.00  ...
                               1156.99  1001.18  779.73  941.4  811.58  ...

                                                                              \
kst                               k40     k41     k42     k44    k46     k93
name
Susanne Hofmann                  0.00    0.00    0.00    0.00    0.0    0.00
Cornelia Hanselmann              0.00  125.57    8.43    0.00    0.0    0.00
Jacqueline Bösiger               0.00    0.00    0.00    0.00    0.0    0.00
Cornelia Bühler                  0.00    0.00    0.00  200.87    0.0    0.00
Alberta Nikolla-Vorfi            0.00    0.00    0.00    0.00    0.0    0.00
...                               ...     ...     ...     ...    ...     ...
Anna-Maria Altenburger-Marcon    0.00    0.00    0.00    0.00    0.0    0.00
Yinett Guzman                    0.00    0.00    0.00    0.00    0.0    0.00
Anita Pivirotto-Brunner          0.00    0.00    0.00    0.00    0.0    0.00
Salome Dolder                    0.00    0.00    0.00    0.00    0.0    0.00
                               645.25  907.09  277.45  524.05  296.4  647.49

                                        gruppe monat  jahr
kst                                 anw
name
Susanne Hofmann                  148.56   1000    10  2022
Cornelia Hanselmann              134.00   1000    10  2022
Jacqueline Bösiger               182.55   1000    10  2022
Cornelia Bühler                  200.87   1000    10  2022
Alberta Nikolla-Vorfi             97.73   1000    10  2022
...                                 ...    ...   ...   ...
Anna-Maria Altenburger-Marcon     69.38   1000    10  2022
Yinett Guzman                    115.85   1000    10  2022
Anita Pivirotto-Brunner          103.61   1000    10  2022
Salome Dolder                    185.27   1000    10  2022
                               25453.77   1000    10  2022

[174 rows x 31 columns]

In [95]:
df_neu.columns = [''.join(col) for col in df_neu.columns]

df_neu.rename(columns=lambda s: s.replace("stunden", ""), inplace=True)


df_neu.to_csv("work/test.csv",
              sep=";",
              encoding='cp1252')

In [96]:
df_neu.columns

Index(['persnr', 'k01', 'k02', 'k03', 'k05', 'k07', 'k08', 'k10', 'k11', 'k14',
       'k15', 'k16', 'k17', 'k20', 'k21', 'k24', 'k26', 'k28', 'k33', 'k34',
       'k39', 'k40', 'k41', 'k42', 'k44', 'k46', 'k93', 'anw', 'gruppe',
       'monat', 'jahr'],
      dtype='object')

In [97]:
df_neu

,persnr,k01,k02,k03,k05,k07,k08,k10,k11,k14,...,k40,k41,k42,k44,k46,k93,anw,gruppe,monat,jahr
name,,,,,,,,,,,,,,,,,,,,,
Susanne Hofmann,164,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.0,0.00,148.56,1000,10,2022
Cornelia Hanselmann,222,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,...,0.00,125.57,8.43,0.00,0.0,0.00,134.00,1000,10,2022
Jacqueline Bösiger,239,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.0,0.00,182.55,1000,10,2022
Cornelia Bühler,280,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,200.87,0.0,0.00,200.87,1000,10,2022
Alberta Nikolla-Vorfi,283,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.0,0.00,97.73,1000,10,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Anna-Maria Altenburger-Marcon,3042,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.0,0.00,69.38,1000,10,2022
Yinett Guzman,3044,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.0,0.00,115.85,1000,10,2022
Anita Pivirotto-Brunner,3047,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.0,0.00,103.61,1000,10,2022
Salome Dolder,3048,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.0,0.00,185.27,1000,10,2022
,anw,1612.48,2278.75,299.54,257.17,1156.99,1001.18,779.73,941.4,811.58,...,645.25,907.09,277.45,524.05,296.4,647.49,25453.77,1000,10,2022

In [98]:
pd.read_csv("work/test.csv",
              sep=";",
              encoding='cp1252')

,name,persnr,k01,k02,k03,k05,k07,k08,k10,k11,...,k40,k41,k42,k44,k46,k93,anw,gruppe,monat,jahr
0,Susanne Hofmann,164,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.0,0.00,148.56,1000,10,2022
1,Cornelia Hanselmann,222,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,125.57,8.43,0.00,0.0,0.00,134.00,1000,10,2022
2,Jacqueline Bösiger,239,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.0,0.00,182.55,1000,10,2022
3,Cornelia Bühler,280,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,200.87,0.0,0.00,200.87,1000,10,2022
4,Alberta Nikolla-Vorfi,283,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.0,0.00,97.73,1000,10,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Anna-Maria Altenburger-Marcon,3042,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.0,0.00,69.38,1000,10,2022
170,Yinett Guzman,3044,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.0,0.00,115.85,1000,10,2022
171,Anita Pivirotto-Brunner,3047,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.0,0.00,103.61,1000,10,2022
172,Salome Dolder,3048,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.0,0.00,185.27,1000,10,2022
173,NaN,anw,1612.48,2278.75,299.54,257.17,1156.99,1001.18,779.73,941.4,...,645.25,907.09,277.45,524.05,296.4,647.49,25453.77,1000,10,2022

# Data Base

In [ ]:
# ship # its dataframe

In [ ]:
from sqlalchemy import create_engine

# https://github.com/avinashtrivedi/Python_Code/blob/master/pd%2Bsql.ipynb
# https://github.com/avinashtrivedi/Python_Code/blob/master/sql.ipynb

# create engine
# ship.db : Database Name
engine = create_engine('sqlite:///ship.db')

# Write records of DataFrame to a SQL database
# Table name : ship_table

ship.to_sql('ship_table', engine, if_exists='append')

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=a31507b5-fedf-4551-ae59-6c2dd08bf262' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>