In [12]:
from silence_tensorflow import silence_tensorflow
silence_tensorflow()

In [35]:
pd.set_option('display.max_rows', 2200)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [13]:
from numpy import load
import numpy as  np
from numpy import expand_dims
from numpy import asarray
from numpy import savez_compressed
from keras.models import load_model
from keras_facenet import FaceNet
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

## Localizing & Extracting Faces

In [14]:
import tensorflow as tf
print(tf.__version__)

2.5.0

In [15]:
from os import listdir
from os.path import isdir
from PIL import Image
from matplotlib import pyplot
from numpy import savez_compressed
from numpy import asarray
from mtcnn.mtcnn import MTCNN

In [16]:
#extract a single face from a given photograph
def extract_face(filename, required_size = (160, 160)):
    #load image from file
    image = Image.open(filename)
    #convert to RGB, if needed
    image = image.convert('RGB')
    # convert to array
    pixels = asarray(image)
    # create the detector, using default weights
    detector = MTCNN()
    # detect faces in the image
    results = detector.detect_faces(pixels)
    # extract the bounding box from the first face
    x1, y1, width, height = results[0]['box']
    # bug fix
    x1, y1 = abs(x1), abs(y1)
    x2, y2 = x1 + width, y1 + height
    # extract the face
    face = pixels[y1:y2, x1:x2]
    # resize pixels to the model size
    image = Image.fromarray(face)
    image = image.resize(required_size)
    face_array = asarray(image)
    return face_array

#load images and extract faces for all images in a directory
def load_faces(directory):
    faces = list()
    filenames_list = list() #NJ: A list to store all the images file names
    
    #enumerate files
    for filename in listdir(directory):
        # path
        path = directory + filename
        # get face
        face = extract_face(path)
        # store
        faces.append(face)
        filenames_list.append(path) 
        
    return faces, filenames_list

#load & extract faces for a dataset that contains one subdir for each class that in turn contains images
def load_dataset(directory):
    X, y, path_list = list(), list(), list()
    
    # enumerate folders, one per class
    for subdir in listdir(directory):
        #path
        path = directory + subdir + '/'
        # skip any files that might be in the dir
        if not isdir(path):
            continue
        # load all faces in the subdirectory
        faces, filenames_list = load_faces(path)
        
        # create labels
        labels = [subdir for _ in range(len(faces))]
        
        # summarize progress
        print ('>loaded %d example for class %s' % (len(faces), subdir))
        # store
        X.extend(faces)
        y.extend(labels)
        path_list.extend(filenames_list) # to get the actual image names
        
    return asarray(X), asarray(y), asarray(path_list)

## Faces Extraction from dataset

In [17]:
# load train dataset
dataset_path = './dataset/'

faces, filename, images_path = load_dataset(dataset_path)

>loaded 14 example for class ben_afflek
>loaded 16 example for class elton_john
>loaded 21 example for class jerry_seinfeld
>loaded 19 example for class madonna
>loaded 21 example for class mindy_kaling

In [18]:
savez_compressed('./faces_dataset.npz', faces, filename, images_path)

In [19]:
# load the face dataset
faces_dataset = load('./faces_dataset.npz')

faces, filename, images_path = faces_dataset['arr_0'], faces_dataset['arr_1'], faces_dataset['arr_2'] #, data['arr_3']
print('Loaded Train dataset: ', faces.shape, filename.shape, images_path.shape)

Loaded Train dataset:  (91, 160, 160, 3) (91,) (91,)

## Feature Extraction for the Faces extracted from dataset

In [20]:
from numpy import load
from numpy import expand_dims
from numpy import asarray
from numpy import savez_compressed
from keras.models import load_model
from keras_facenet import FaceNet

embedder = FaceNet()

In [21]:
features_dataset = embedder.embeddings(faces)

In [22]:
# save arrays to one file in compressed format
savez_compressed('./faces_embeddings.npz', features_dataset, filename, images_path)

## Finding Duplicate Images

In [23]:
#load dataset
data = load('./faces_embeddings.npz')
features_dataset, filename, images_path = data['arr_0'], data['arr_1'], data['arr_2'] #, data['arr_3']

In [44]:
def get_duplicate_images_df(feature, matching_cutoff_threshold = 0.65):
    img_dup = pd.DataFrame([],columns=['image_id','Image_label','Image_path','Duplicate_image','Duplicate_path','similarity_score'])
    for id1,feature1 in enumerate(zip(feature['arr_0'], feature['arr_1'], feature['arr_2'])):
        for id2,feature2 in enumerate(zip(feature['arr_0'], feature['arr_1'], feature['arr_2'])):
            
            if id2>id1 and feature1[1]==feature2[1]:
                image_1,label_1,path_1 = feature1[0],feature1[1],feature1[2]
                image_2,label_2,path_2 = feature2[0],feature2[1],feature2[2]

                similarity_score = cosine_similarity(image_1.reshape(1, -1),
                                                     image_2.reshape(1, -1))
                if similarity_score > matching_cutoff_threshold:
                    img_dup.loc[len(img_dup)]= [id1,label_1,path_1,label_2,path_2,similarity_score[0][0]]
    return img_dup

In [82]:
def get_duplicate_images_df1(feature, matching_cutoff_threshold = 0.65):
    features_dataset = feature['arr_0']
    img_dup = pd.DataFrame([],columns=['image_id','Image_label','Image_path','Duplicate_image','Duplicate_path','similarity_score'])
    for _, row in df_feature.iterrows():
        image_1 = features_dataset[row['Feature_vec']]
        label_1 = row['Filename']
        path_1  = row['Image_path']
        for id2,feature2 in enumerate(zip(feature['arr_0'], feature['arr_1'], feature['arr_2'])):
            
            if  label_1==feature2[1] and path_1!=feature2[2]:
#                 image_1,label_1,path_1 = feature1[0],feature1[1],feature1[2]
                
                
                image_2,label_2,path_2 = feature2[0],feature2[1],feature2[2]

                similarity_score = cosine_similarity(image_1.reshape(1, -1),
                                                     image_2.reshape(1, -1))
                if similarity_score > matching_cutoff_threshold:
                    img_dup.loc[len(img_dup)]= [id2,label_1,path_1,label_2,path_2,similarity_score[0][0]]
    return img_dup

In [86]:
df_dup = get_duplicate_images_df1(data,0.4)
df_dup

   image_id     Image_label                                         Image_path Duplicate_image                                     Duplicate_path  similarity_score
0         1      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (1).jpg      ben_afflek     ./dataset/ben_afflek/train_ben_afflek (10).jpg          0.645257
1         2      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (1).jpg      ben_afflek     ./dataset/ben_afflek/train_ben_afflek (11).jpg          0.497924
2         3      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (1).jpg      ben_afflek     ./dataset/ben_afflek/train_ben_afflek (12).jpg          0.481078
3         4      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (1).jpg      ben_afflek     ./dataset/ben_afflek/train_ben_afflek (13).jpg          0.475466
4         5      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (1).jpg      ben_afflek     ./dataset/ben_afflek/train_ben_afflek (14).jpg          0.535787
5         6      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (1).jpg      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (2).jpg          0.690369
6         8      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (1).jpg      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (4).jpg          0.619748
7         9      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (1).jpg      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (5).jpg          0.460599
8        10      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (1).jpg      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (6).jpg          0.636806
9        11      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (1).jpg      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (7).jpg          0.465942
10       12      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (1).jpg      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (8).jpg          0.414925
11       13      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (1).jpg      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (9).jpg          0.532203
12       15      elton_john      ./dataset/elton_john/train_elton_john (1).jpg      elton_john     ./dataset/elton_john/train_elton_john (10).jpg          0.504434
13       17      elton_john      ./dataset/elton_john/train_elton_john (1).jpg      elton_john     ./dataset/elton_john/train_elton_john (12).jpg          0.471379
14       18      elton_john      ./dataset/elton_john/train_elton_john (1).jpg      elton_john     ./dataset/elton_john/train_elton_john (13).jpg          0.469129
15       19      elton_john      ./dataset/elton_john/train_elton_john (1).jpg      elton_john     ./dataset/elton_john/train_elton_john (14).jpg          0.485545
16       20      elton_john      ./dataset/elton_john/train_elton_john (1).jpg      elton_john     ./dataset/elton_john/train_elton_john (15).jpg          0.413057
17       21      elton_john      ./dataset/elton_john/train_elton_john (1).jpg      elton_john     ./dataset/elton_john/train_elton_john (16).jpg          0.546496
18       22      elton_john      ./dataset/elton_john/train_elton_john (1).jpg      elton_john      ./dataset/elton_john/train_elton_john (2).jpg          0.520128
19       23      elton_john      ./dataset/elton_john/train_elton_john (1).jpg      elton_john      ./dataset/elton_john/train_elton_john (3).jpg          0.549278
20       27      elton_john      ./dataset/elton_john/train_elton_john (1).jpg      elton_john      ./dataset/elton_john/train_elton_john (7).jpg          0.455140
21       28      elton_john      ./dataset/elton_john/train_elton_john (1).jpg      elton_john      ./dataset/elton_john/train_elton_john (8).jpg          0.450060
22       29      elton_john      ./dataset/elton_john/train_elton_john (1).jpg      elton_john      ./dataset/elton_john/train_elton_john (9).jpg          0.444767
23       31  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.850476
24       32  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.792377
25       33  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.696925
26       34  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.843465
27       35  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.757538
28       36  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.899750
29       37  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.617151
30       38  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.804106
31       39  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.734755
32       40  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.742912
33       41  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.826684
34       42  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.637589
35       43  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.844628
36       44  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.889489
37       45  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.814771
38       46  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.809456
39       47  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.801012
40       48  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.858157
41       49  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.822827
42       50  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...          0.786801
43       52         madonna            ./dataset/madonna/train_madonna (1).jpg         madonna           ./dataset/madonna/train_madonna (10).jpg          0.532495
44       54         madonna            ./dataset/madonna/train_madonna (1).jpg         madonna           ./dataset/madonna/train_madonna (12).jpg          0.659377
45       55         madonna            ./dataset/madonna/train_madonna (1).jpg         madonna           ./dataset/madonna/train_madonna (13).jpg          0.479552
46       56         madonna            ./dataset/madonna/train_madonna (1).jpg         madonna           ./dataset/madonna/train_madonna (14).jpg          0.539005
47       57         madonna            ./dataset/madonna/train_madonna (1).jpg         madonna           ./dataset/madonna/train_madonna (15).jpg          0.740332
48       59         madonna            ./dataset/madonna/train_madonna (1).jpg         madonna           ./dataset/madonna/train_madonna (17).jpg          0.656099
49       60         madonna            ./dataset/madonna/train_madonna (1).jpg         madonna           ./dataset/madonna/train_madonna (18).jpg          0.493352
50       61         madonna            ./dataset/madonna/train_madonna (1).jpg         madonna           ./dataset/madonna/train_madonna (19).jpg          0.575261
51       62         madonna            ./dataset/madonna/train_madonna (1).jpg         madonna            ./dataset/madonna/train_madonna (2).jpg          0.702506
52       63         madonna            ./dataset/madonna/train_madonna (1).jpg         madonna            ./dataset/madonna/train_madonna (3).jpg          0.700721
53       64         madonna            ./dataset/madonna/train_madonna (1).jpg         madonna            ./dataset/madonna/train_madonna (4).jpg          0.720978
54       65         madonna            ./dataset/madonna/train_madonna (1).jpg         madonna            ./dataset/madonna/train_madonna (5).jpg          0.833686
55       66         madonna            ./dataset/madonna/train_madonna (1).jpg         madonna            ./dataset/madonna/train_madonna (6).jpg          0.712961
56       68         madonna            ./dataset/madonna/train_madonna (1).jpg         madonna            ./dataset/madonna/train_madonna (8).jpg          0.463514
57       69         madonna            ./dataset/madonna/train_madonna (1).jpg         madonna            ./dataset/madonna/train_madonna (9).jpg          0.441644
58       71    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (10)...          0.609737
59       72    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (11)...          0.550356
60       73    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (12)...          0.848987
61       74    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (13)...          0.650196
62       75    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (14)...          0.557999
63       77    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (16)...          0.767391
64       78    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (17)...          0.720957
65       79    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (18)...          0.800526
66       80    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (19)...          0.779767
67       81    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (2).jpg          0.805908
68       82    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (20)...          0.830056
69       83    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (21)...          0.663448
70       84    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (3).jpg          0.527562
71       85    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (4).jpg          0.809928
72       86    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (5).jpg          0.787782
73       87    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (6).jpg          0.902520
74       88    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (7).jpg          0.811132
75       89    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (8).jpg          0.672140
76       90    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (9).jpg          0.633181

In [26]:
#df_duplicate.to_csv('Duplicate_images.csv')

In [116]:
result = df_dup.groupby('Image_label').agg(no_of_duplicate = ('Duplicate_path','count') )
result.reset_index(level=0, inplace=True)

In [122]:
result

      Image_label  no_of_duplicate
0      ben_afflek               12
1      elton_john               11
2  jerry_seinfeld               20
3         madonna               15
4    mindy_kaling               19

In [126]:
result = pd.merge(result, d, on='Image_label')

In [127]:
result

      Image_label  no_of_duplicate  original_count
0      ben_afflek               12              14
1      elton_john               11              16
2  jerry_seinfeld               20              21
3         madonna               15              19
4    mindy_kaling               19              21

In [51]:
df_dup.groupby('Image_label').agg(
    no_of_duplicate = ('Duplicate_path','count') )

In [118]:
df_feature = pd.DataFrame({'Feature_vec':list(range(91)),
              'Filename' :filename,
              'Image_path':images_path})

d = df_feature.groupby('Filename').agg(
original_count = ('Feature_vec','count'),
)

df_feature = df_feature.groupby('Filename').head(1).reset_index(drop=True)

d.reset_index(level=0, inplace=True)

# df_feature = pd.merge(df_feature, d, on='Filename')

In [123]:
d.columns = ['Image_label','original_count']

In [124]:
d

      Image_label  original_count
0      ben_afflek              14
1      elton_john              16
2  jerry_seinfeld              21
3         madonna              19
4    mindy_kaling              21

In [119]:
df_feature

   Feature_vec        Filename                                         Image_path
0            0      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (1).jpg
1           14      elton_john      ./dataset/elton_john/train_elton_john (1).jpg
2           30  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...
3           51         madonna            ./dataset/madonna/train_madonna (1).jpg
4           70    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg

In [100]:
df_feature.groupby('Filename').agg(
original_count = ('Feature_vec','count'),
)

                original_count
Filename
ben_afflek                   1
elton_john                   1
jerry_seinfeld               1
madonna                      1
mindy_kaling                 1

In [93]:
df_feature.groupby('Filename').agg(
original_count = ('Feature_vec', 'count')
)

                original_count
Filename
ben_afflek                  14
elton_john                  16
jerry_seinfeld              21
madonna                     19
mindy_kaling                21

In [ ]:
for _, row in df1.iterrows():
        area = row['area']
        team = row['team']

In [79]:
for _, row in df_feature.iterrows()

   Feature_vec        Filename                                         Image_path
0            0      ben_afflek      ./dataset/ben_afflek/train_ben_afflek (1).jpg
1           14      elton_john      ./dataset/elton_john/train_elton_john (1).jpg
2           30  jerry_seinfeld  ./dataset/jerry_seinfeld/train_jerry_seinfeld ...
3           51         madonna            ./dataset/madonna/train_madonna (1).jpg
4           70    mindy_kaling  ./dataset/mindy_kaling/train_mindy_kaling (1).jpg

In [77]:
features_dataset[Feature_vec]

array([ 1.21032055e-02, -3.43378410e-02,  1.62295881e-03, -1.38984304e-02,
       -1.27211399e-02,  3.46759632e-02, -1.08666141e-02, -4.34253737e-02,
        2.88301650e-02,  1.79396234e-02, -7.63890287e-03,  5.46426028e-02,
       -2.38577742e-02, -3.79724726e-02,  3.01359240e-02,  2.95096822e-02,
        2.62108278e-02, -2.16755942e-02,  1.82985980e-02, -1.69909149e-02,
       -5.61700650e-02, -2.61751693e-02, -2.58328877e-02, -4.16180864e-02,
       -1.94112882e-02, -2.73680333e-02, -8.15922245e-02, -3.12132835e-02,
       -2.80838124e-02,  3.98257300e-02, -6.79586604e-02,  2.79946569e-02,
        2.57289391e-02,  2.09670588e-02, -6.60082791e-03, -1.51867177e-02,
        1.99671425e-02, -1.41039854e-02, -1.71469245e-02,  5.98128587e-02,
        8.73909984e-03, -3.74009088e-02, -9.88477468e-02, -3.93543206e-02,
       -4.58037257e-02,  4.77461368e-02,  4.05100174e-02, -5.80933876e-02,
        7.65876547e-02,  1.69080403e-03,  2.17709802e-02, -1.79598760e-02,
       -4.84184325e-02,  4.86651203e-03, -1.09956544e-02, -1.25161353e-02,
        4.14358079e-02,  3.15085240e-02, -3.45993927e-03,  7.04185665e-02,
       -8.57473388e-02, -1.68746673e-02, -5.30680791e-02, -6.42110594e-03,
       -3.52719203e-02,  6.38389736e-02,  4.27160412e-03, -1.32976118e-02,
       -3.33819054e-02, -9.50992405e-02, -9.85904876e-03,  1.10070193e-02,
        2.23205034e-02,  1.28292954e-02,  8.67765862e-03, -1.19521208e-02,
       -4.75300625e-02,  2.34721806e-02,  1.64589509e-02,  5.30638173e-02,
       -5.89041561e-02, -1.27077505e-01,  4.06178497e-02, -4.73059453e-02,
        2.84803994e-02, -5.14499731e-02, -5.42635247e-02,  3.60353664e-02,
       -2.02557016e-02,  4.28808033e-02,  1.97050460e-02, -5.00237918e-04,
        1.95279662e-02, -2.11849324e-02, -1.48399388e-02, -2.32637897e-02,
        3.28151472e-02,  4.99110557e-02, -4.13230844e-02,  7.36375898e-02,
        8.17829929e-03,  9.94520634e-03,  5.64084649e-02, -2.14254460e-03,
        9.62016732e-02, -5.29466718e-02, -4.26250073e-04, -5.27647287e-02,
       -1.83003824e-02, -4.98012230e-02, -1.57708563e-02, -1.85920279e-02,
       -5.56377880e-02, -5.69405779e-03, -3.60361524e-02,  4.17425781e-02,
        7.33705685e-02, -4.12496477e-02,  4.80556600e-02,  1.42303342e-02,
       -1.83035526e-02,  2.55521741e-02, -2.15761997e-02, -2.04853527e-03,
        9.94292721e-02, -3.40892561e-02,  2.04325784e-02, -5.34247309e-02,
       -1.18159465e-02, -4.31801863e-02, -4.12290059e-02,  5.38767176e-03,
        3.51146199e-02, -4.05515265e-03, -3.57573777e-02, -9.06307064e-03,
       -3.42762731e-02,  2.85855066e-02,  5.40998280e-02,  1.49447890e-02,
        4.74293977e-02,  9.70306899e-03, -4.22996804e-02,  3.65871489e-02,
        5.22619635e-02, -7.04784784e-03, -1.06195942e-01, -2.76068901e-03,
        1.98913831e-02,  5.62675148e-02,  6.05924018e-02,  1.71923786e-02,
        8.26060204e-05,  3.91112408e-03,  3.53074744e-02,  2.66887359e-02,
        4.98828813e-02,  7.03664646e-02, -3.06646246e-02,  2.77271233e-02,
       -7.50795379e-03, -3.57709117e-02, -7.47245848e-02,  1.19682308e-02,
       -1.83648523e-02,  3.97539288e-02,  6.77508339e-02, -2.76443176e-03,
        2.36543622e-02,  7.59168342e-02, -1.50119346e-02,  4.60054465e-02,
        3.82256955e-02, -3.77149023e-02,  1.68317824e-03, -5.72961792e-02,
        4.31855321e-02, -8.89002979e-02, -4.83321212e-03, -7.10815266e-02,
        2.28342861e-02,  9.43353865e-03, -1.11131379e-02,  5.98869398e-02,
       -3.90455462e-02,  2.48873569e-02,  4.42217067e-02,  1.22067705e-02,
       -4.41628732e-02,  1.91563182e-02, -4.08549560e-03,  5.05681783e-02,
        5.21184355e-02,  1.05667654e-02, -2.75744833e-02, -1.64070763e-02,
        4.79394086e-02,  3.24350931e-02,  2.21251752e-02, -6.31972253e-02,
       -2.46986076e-02,  5.60413860e-03,  4.49620001e-02,  1.31014297e-02,
        8.94998841e-04, -6.33614953e-04, -1.66934617e-02,  3.57357413e-02,
        2.92435810e-02,  5.64023294e-02, -7.88139999e-02, -6.15528151e-02,
       -1.72076728e-02, -7.20669283e-03,  5.28000481e-02, -4.18755412e-02,
       -7.04409601e-03, -1.84816010e-02,  4.09137132e-03,  7.95382634e-02,
       -1.93825327e-02,  3.17295007e-02,  8.33165180e-03, -1.33471593e-01,
       -2.70980573e-03, -4.90866182e-03, -1.39218224e-02,  1.88972261e-02,
       -6.37489511e-03,  1.77005798e-01,  2.91950884e-03,  7.35886581e-03,
       -1.11591883e-01, -3.14334817e-02,  3.21243629e-02, -1.70774199e-02,
        4.70466241e-02, -1.82697177e-02, -2.21896637e-02, -2.59216297e-02,
        2.14865152e-02,  5.22642285e-02,  6.82495683e-02,  2.58052088e-02,
       -6.56483974e-03, -3.10998154e-03, -1.80991907e-02, -9.79929790e-03,
        3.41666453e-02, -8.25381726e-02,  9.27204266e-02,  4.42175455e-02,
        5.49218096e-02, -2.39039548e-02, -2.60259323e-02,  3.05196792e-02,
       -2.42810487e-03, -5.09560527e-03,  1.65274125e-02,  7.15041235e-02,
        5.86036593e-03,  5.83611280e-02, -1.24257915e-02,  4.19310033e-02,
       -4.92735952e-03, -1.01469876e-02,  1.59035809e-02,  6.19609957e-04,
       -7.42434114e-02, -5.60008027e-02, -7.90881515e-02,  1.33097013e-02,
       -2.98820566e-02,  2.22555213e-02, -6.35099709e-02, -4.41041142e-02,
       -6.04073592e-02, -5.15637212e-02, -3.96350212e-02, -9.34448559e-03,
       -2.80113500e-02,  1.48448691e-01, -6.99230880e-02,  5.32760881e-02,
       -8.40677172e-02, -3.04564349e-02, -4.09267768e-02, -3.84658016e-02,
       -1.18446304e-02, -2.39241831e-02, -8.30666721e-02,  2.42130868e-02,
        7.28917718e-02, -1.24532394e-02,  4.98309098e-02, -1.77882817e-02,
        4.33353968e-02, -2.31745886e-03, -3.47770029e-03,  3.74138802e-02,
        6.91249175e-03, -4.32784595e-02, -3.51367798e-03,  5.21337725e-02,
       -9.93876904e-02, -4.39062677e-02,  3.86526845e-02, -2.40036752e-02,
        2.74421331e-02, -6.28129095e-02, -2.96798460e-02, -2.46455353e-02,
       -8.57582968e-03, -8.69420096e-02,  1.93941332e-02, -6.04073182e-02,
       -2.94892769e-02, -4.68270062e-03,  1.46335419e-02, -3.11562121e-02,
        3.02843284e-02,  5.91694675e-02, -6.13616370e-02,  4.20106621e-03,
        5.72099490e-03, -1.02896383e-02, -9.60860122e-03, -1.06037715e-02,
       -4.09885086e-02,  8.59204158e-02,  1.37176027e-03,  2.59757396e-02,
        9.84437950e-03, -5.96460253e-02, -5.61211817e-02,  3.15025672e-02,
       -2.99734995e-03, -1.20723946e-02,  1.61615461e-02,  5.35250120e-02,
       -1.06752338e-02, -4.14784849e-02,  1.28581617e-02, -3.12566347e-02,
        1.17312570e-03, -4.53076959e-02, -8.31929222e-03, -2.42727958e-02,
       -3.18607688e-02, -7.99166504e-03, -3.78012471e-03,  5.82715981e-02,
       -7.08335191e-02, -2.16241926e-02, -1.98865738e-02, -1.08945500e-02,
        8.77511054e-02,  6.79565817e-02, -8.50233883e-02, -2.95588374e-02,
       -5.50334379e-02,  7.82930944e-03, -4.07684334e-02, -1.83695834e-02,
        4.00251616e-03, -1.16260918e-02, -6.03559846e-03,  3.83697748e-02,
       -9.35081095e-02,  9.27648246e-02, -3.04618180e-02, -9.02239606e-03,
       -4.27263193e-02, -7.85155687e-03,  1.13460980e-02, -6.70121089e-02,
        3.86722423e-02, -4.59324196e-02, -4.66387607e-02, -4.20310954e-03,
       -1.14191607e-01, -5.75695075e-02, -5.08278310e-02,  1.62271527e-03,
        1.81675199e-02, -1.56021006e-02, -5.40209413e-02, -2.95171179e-02,
       -3.21554318e-02,  2.73043234e-02,  4.44576964e-02,  6.79549798e-02,
        3.19472817e-03,  1.38976713e-04,  2.70482879e-02, -1.72051543e-03,
        6.99959025e-02, -7.93211535e-02, -4.92600910e-03,  3.54907028e-02,
       -1.99519116e-02,  3.45287323e-02, -2.02886704e-02,  3.71855348e-02,
       -4.14904617e-02, -8.61567110e-02,  4.85194176e-02, -4.88929749e-02,
       -5.07742465e-02,  3.29657607e-02, -3.36989760e-02, -9.16550383e-02,
       -3.56686395e-03, -2.52301171e-02, -7.24168494e-02,  5.47059514e-02,
       -2.12335158e-02, -2.42025368e-02,  2.41758078e-02, -2.77788434e-02,
       -3.23732593e-03,  2.35333778e-02,  2.98335543e-03,  3.76414768e-02,
       -9.88722965e-03,  3.39047164e-02, -1.32476874e-02, -2.55691744e-02,
       -2.70873271e-02, -8.67633335e-03,  6.91676289e-02,  3.72180119e-02,
        3.42142470e-02,  7.91461393e-03,  9.67681967e-03, -1.32557573e-02,
        4.94949445e-02,  9.88270715e-03, -2.78548524e-02, -2.48372015e-02,
       -2.82226074e-02,  4.37907204e-02,  7.31925070e-02, -9.25026461e-03,
        7.81395473e-03,  2.11825948e-02,  6.10146895e-02, -9.95021611e-02,
       -7.51637071e-02, -7.37412795e-02, -2.90548299e-02,  6.61782688e-04,
        6.28103465e-02,  2.71574128e-02,  8.14017933e-03, -2.46256068e-02,
        7.29302019e-02,  5.05060554e-02,  1.67764239e-02,  1.91604029e-02,
       -1.16866138e-02,  3.16207320e-03,  2.67637838e-02, -1.07075408e-01,
       -3.93376425e-02, -2.35841740e-02, -5.19456677e-02, -2.50879470e-02,
        4.86866422e-02, -9.30564404e-02, -1.87456794e-02, -8.18765014e-02,
        2.12629102e-02,  4.39621285e-02,  4.57999967e-02, -5.43237245e-03,
        2.31757797e-02, -6.81233704e-02,  3.18243764e-02,  1.07229851e-01,
        5.13361581e-02,  4.91199456e-02,  3.85681279e-02, -5.99619150e-02,
        1.30010828e-01,  1.13881612e-02, -3.93590368e-02, -1.04013599e-01,
        1.61833025e-03,  2.73480993e-02, -1.10542327e-01,  5.77976322e-03,
       -3.12846899e-02, -1.21817496e-02,  4.90357839e-02,  4.83159199e-02,
       -1.75975561e-02,  3.82034592e-02,  4.03070543e-03,  2.51052435e-02,
       -1.17061902e-02, -4.42421623e-03,  5.47291003e-02,  2.58935150e-02,
        2.67063081e-02, -3.98045918e-03, -1.05361901e-02,  2.56330669e-02,
        7.11086020e-02,  1.63791643e-03, -9.49315056e-02,  1.22714397e-02],
      dtype=float32)