In [1]:
import pandas as pd
url = 'http://bexar.trueautomation.com/clientdb/Property.aspx?cid=110&prop_id=525041'
df = pd.read_html(url)

# Property

In [2]:
df_property = df[0]

columns = df_property.iloc[:,0].to_list() + df_property.iloc[:,2].to_list()
row_value = df_property.iloc[:,1].to_list() + df_property.iloc[:,3].to_list()

df_property = pd.DataFrame([],columns=columns)
df_property.loc[len(df_property)] = row_value
df_property

,Account,Property ID:,Geographic ID:,Type:,Property Use Code:,Property Use Description:,Protest,Protest Status:,Informal Date:,Formal Date:,...,NaN,NaN,Location,Mapsco:,Map ID:,E-File Eligible,Owner,Owner ID:,% Ownership:,Exemptions:
0,Account,525041,13416-000-0060,Real,098,TRANSITIONAL USE,Protest,NaN,NaN,NaN,...,NaN,NaN,Location,616D5,NaN,E-File Eligible,Owner,3193041,100.0000000000%,NaN

# Values

In [3]:
df_values = df[1]
df_values = df_values[1:].iloc[:,[0,1,2,3]].fillna('')
df_values

,0,1,2,3
1,(+) Improvement Homesite Value:,+,$0,
2,(+) Improvement Non-Homesite Value:,+,$100,
3,(+) Land Homesite Value:,+,$0,
4,(+) Land Non-Homesite Value:,+,"$3,030,430",Ag / Timber Use Value
5,(+) Agricultural Market Valuation:,+,$0,$0
6,(+) Timber Market Valuation:,+,$0,$0
7,,,--------------------------,
8,(=) Market Value:,=,"$3,030,530",
9,(–) Ag or Timber Use Value Reduction:,–,$0,
10,,,--------------------------,
11,(=) Appraised Value:,=,"$3,030,530",
12,(–) HS Cap:,–,$0,
13,,,--------------------------,
14,(=) Assessed Value:,=,"$3,030,530",

# Roll History

In [4]:
df_rollhistory = df[11]
df_rollhistory

   Year Improvements Land Market  Ag Valuation  Appraised HS Cap    Assessed
0  2022         $100  $3,030,430             0    3030530     $0  $3,030,530
1  2021         $100  $2,915,480             0    2915580     $0  $2,915,580
2  2020         $100  $2,915,480             0    2915580     $0  $2,915,580
3  2019         $100  $2,858,570             0    2858670     $0  $2,858,670
4  2018         $100  $2,722,320             0    2722420     $0  $2,722,420

# Taxing Jurisdiction

In [5]:
other_header = df[2]
other_header = other_header.iloc[:,[0,1]]
other_header

              0                             1
0        Owner:  SAN SABA OPPORTUNITY FUND LP
1  % Ownership:               100.0000000000%
2  Total Value:                    $3,030,530

In [6]:
df_tax = df[3]
df_tax = df_tax.iloc[:,[0,1,2,3,4,5]]
df_tax = df_tax.fillna('')
df_tax

,Entity,Description,Tax Rate,Appraised Value,Taxable Value,Estimated Tax
0,06,BEXAR CO RD & FLOOD,0.023668,"$3,030,530","$3,030,530",$717.26
1,08,SA RIVER AUTH,0.01858,"$3,030,530","$3,030,530",$563.07
2,09,ALAMO COM COLLEGE,0.14915,"$3,030,530","$3,030,530","$4,520.04"
3,10,UNIV HEALTH SYSTEM,0.276235,"$3,030,530","$3,030,530","$8,371.39"
4,11,BEXAR COUNTY,0.276331,"$3,030,530","$3,030,530","$8,374.29"
5,21,CITY OF SAN ANTONIO,0.55827,"$3,030,530","$3,030,530","$16,918.54"
6,57,SAN ANTONIO ISD,1.4916,"$3,030,530","$3,030,530","$45,203.39"
7,CAD,BEXAR APPRAISAL DISTRICT,0.0,"$3,030,530","$3,030,530",$0.00
8,DPID,Downtown Public Improvement District,0.0,"$3,030,530","$3,030,530",$0.00
9,SA030,San Antonio TIF #30 Westside,0.0,"$3,030,530","$3,030,530",$0.00
10,,Total Tax Rate:,2.793834,,,
11,,,,,Taxes w/Current Exemptions:,"$84,667.98"
12,,,,,Taxes w/o Exemptions:,"$84,667.98"

# Land

In [7]:
df_land = df[10]
df_land

,#,Type,Description,Acres,Sqft,Eff Front,Eff Depth,Market Value,Prod. Value
0,1,RER,Rear Lot,1.2562,54720.0,0.0,0.0,"$3,030,430",$0

# Save to Excel

In [8]:
with pd.ExcelWriter('output.xlsx') as writer:  
    df_property.to_excel(writer, sheet_name= 'Property',index=False)
    df_values.to_excel(writer, sheet_name= 'Values',index=False)
    other_header.to_excel(writer, sheet_name= 'OtherHeader',index=False)
    df_tax.to_excel(writer, sheet_name= 'Tax',index=False)
    df_land.to_excel(writer, sheet_name= 'Land',index=False)
    df_rollhistory.to_excel(writer, sheet_name= 'RollHistory',index=False)