In [1]:
import pandas as pd
import numpy as np

# pd.set_option('display.max_rows', 2000)
# pd.set_option('display.max_columns', 3000)
# pd.set_option('display.width', 1000)

In [2]:
df = pd.read_csv('transposed.csv')

In [3]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651
0,0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,5.0,0.0,0,0.0,0.0
1,0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,5.0,0.0,0,0.0,0.0
2,0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,5.0,0.0,0,0.0,0.0
3,0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,5.0,0.0,0,0.0,0.0
4,0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,5.0,0.0,0,0.0,0.0

In [4]:
df_list_data = []
col_name = []
for col in list(df):
    try:
        df_col_list = df[col].to_list()
        index = df_col_list.index(1)
        df_list_data.append(df_col_list[index:])
        col_name.append(col)
    except:
        pass

In [5]:
row = max([len(data) for data in df_list_data])

In [6]:
for i in range(len(df_list_data)):
    df_list_data[i] = df_list_data[i] + [float('NaN')]*(row - len(df_list_data[i]))

In [7]:
df_list_data = np.array(df_list_data).T

In [8]:
df_final = pd.DataFrame(df_list_data,columns=col_name)

In [9]:
df_final.head(10)

,1,2,3,4,5,6,7,8,9,10,...,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,2.0,...,2.0,2.0,1.0,2.0,1.0,0.0,5.0,2.0,1.0,1.0
2,1.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,...,0.0,0.0,1.0,2.0,1.0,1.0,5.0,2.0,1.0,1.0
3,0.0,2.0,1.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0,...,2.0,0.0,1.0,2.0,1.0,1.0,5.0,2.0,2.0,1.0
4,0.0,0.0,0.0,1.0,2.0,0.0,2.0,1.0,2.0,2.0,...,2.0,0.0,1.0,2.0,2.0,0.0,5.0,2.0,2.0,2.0
5,2.0,0.0,2.0,1.0,2.0,0.0,2.0,0.0,2.0,2.0,...,2.0,0.0,2.0,2.0,2.0,1.0,5.0,2.0,2.0,2.0
6,0.0,0.0,0.0,2.0,2.0,0.0,2.0,1.0,2.0,2.0,...,2.0,0.0,2.0,2.0,2.0,1.0,5.0,2.0,2.0,2.0
7,0.0,0.0,0.0,2.0,2.0,0.0,2.0,2.0,2.0,2.0,...,2.0,0.0,2.0,2.0,2.0,1.0,5.0,2.0,2.0,2.0
8,0.0,0.0,0.0,2.0,2.0,0.0,2.0,2.0,2.0,2.0,...,2.0,0.0,2.0,2.0,2.0,1.0,5.0,2.0,2.0,2.0
9,0.0,0.0,0.0,2.0,2.0,0.0,2.0,0.0,2.0,2.0,...,2.0,0.0,2.0,2.0,2.0,1.0,5.0,2.0,2.0,2.0

In [10]:
df.shape

(1364, 2651)

In [11]:
df_final.shape

(1364, 2622)